@page
@model Seasons.MatchList

<div class="my-2 my-lg-0 p-3 ml-auto">
    <h3 class="pb-3">Matches:</h3>
    <ul class="list-group pb-3 mb-1 pl-3">
        @foreach (var m in Model.Matches)
        {
            <a href="http://localhost:5006/Matches/@m.MatchId" class="list-group-item list-group-item-action">
                @(Model.FullTeam(m.TeamAtHome).TeamName) vs @(Model.FullTeam(m.TeamAsGuest).TeamName)
            </a>
        }
    </ul>
    <form method="post">
        <div class="form-group">
            <label for="playerSelectBox">Hometeam</label>
            <select class="form-control" id="playerSelectBox" name="playerId">
                @foreach (var team in Model.Teams)
                {
                    <option value="@team.TeamId">
                        @team.Name
                    </option>
                }
            </select>
            <label for="progressionelectBox">Guestteam</label>
            <select class="form-control" id="progressionelectBox" name="progressionEvent">
                @foreach (var team in Model.Teams)
                {
                    <option value="@team.TeamId">
                        @team.Name
                    </option>
                }
            </select>
        </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Record Progression</button>
    </form>
</div>