@page "{matchId:Guid?}"
@using global::Seasons.ReadHost.Matches
@model Pages.Matches

<div class="my-2 my-lg-0 p-3 ml-auto">
    <h3 class="pb-3">@Model.HomeTeam.TeamName vs @Model.GuestTeam.TeamName</h3>
    <h5>Stuff that happened:</h5>
    <ul class="list-group pb-3 mb-1 pl-3">
        @foreach (var progression in Model.Match.PlayerProgressions)
        {
            <li class="list-group-item">
                @progression.PlayerId: @string.Join(',', progression.ProgressionEvent)
            </li>
        }
    </ul>
    <form method="post">
        <div class="form-group">
            <label for="playerSelectBox">Select a player</label>
            <select class="form-control" id="playerSelectBox" name="playerId">
                @foreach (var player in Model.AllPlayers)
                {
                    <option value="@player">
                        @(player)
                    </option>
                }
            </select>
            <label for="progressionelectBox">Select a player</label>
            <select class="form-control" id="progressionelectBox" name="progressionEvent">
                @foreach (var progressionEvent in Enum.GetValues(typeof(ProgressionEvent)))
                {
                    <option value="progressionEvent.ToString()">
                        @progressionEvent.ToString()
                    </option>
                }
            </select>
          </div>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Record Progression</button>
    </form>
</div>