@page
@using Ui.Translations
@model Pages.IndexModel

<div class="my-2 my-lg-0 p-3 ml-auto" >
    <h3>Teams neu:</h3>
    <div class="list-group">
        @if (Model.AllTeams.Any())
        {
            @foreach (var team in Model.AllTeams)
             {
                 <a href="Team/@team.TeamId" class="list-group-item list-group-item-action">
                     <div class="d-flex w-100 justify-content-between">
                         <h5 class="mb-1">@team.TeamName (@team.TrainerName, @RaceTranslations.ResourceManager.GetString(team.RaceId.Id))</h5>
                         @if (!team.IsFinished)
                          {
                              <div class="float-right">
                                  <h5 class="mb-1">(Draft)</h5>
                              </div>
                          }
                     </div>
                 </a>
             }
        }
        else
        {
            <h5>None</h5>
        }
    </div>
    <div class="pt-4">
        <form method="post">
            <div class="form-group">
                <label for="teamNameTextInput">Create a new Team</label>
                <input type="text" class="form-control mb-3" id="teamNameTextInput" name="teamNameTextInput" placeholder="Enter team name">
                <input type="text" class="form-control mb-3" id="trainerNameTextInput" name="trainerNameTextInput" placeholder="Enter trainer name">
                <select class="form-control" id="teamSelectBox" name="raceIdDropDownInput">
                    @foreach (var team in Model.AllRaces)
                    {
                    <option value="@team.RaceConfigId.Id">
                        @RaceTranslations.ResourceManager.GetString(team.RaceConfigId.Id)
                    </option>
                    }
                </select>
            </div>

            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create new Team</button>
        </form>
    </div>
</div>
